body {
    background-image: url("/images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Ubuntu", sans-serif;
}

input {
    outline: transparent;
}

.container_general {
    position: relative;
    height: 100vh;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
}

.container_log {
    color: white;
    padding: 18px 0 18px 79px;
}

.header_title {
    font-weight: 700;
    font-size: 22px;
}

.container_nav {
    display: flex;
    align-items: center;
    color: white;
    padding-right: 79px;
}

.container_icons {
    padding-right: 25px;
}

.container_nav_logs {
    font-size: 14px;
    font-weight: 400;
}

.container_element:before {
    content: "";
    border-left: 1px solid white;
    margin-right: 20px;
}

.main {
    position: absolute;
    top: calc(50% - 292px);
    left: 0;
    right: 0;
    margin:0 auto;
    height: 584px;
    width: 444px;
    background-color: white;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.main_log {
    display: flex;
    justify-content: space-between;
    color: white;
}

.main_log_sign {
    font-weight: 400;
    font-size: 20px;
    padding: 31px 0 15px 61px;
    color: #434343 ;
}

.main_box {
    position: absolute;
    top: 29px;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
}

.main_log_log {
    font-size: 14px;
    font-weight: 400;
    padding: 33px 59px 11px 0;
    color: #3CB878;
}

.main_log_buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.main_log_buttons svg {
    padding-left: 10px ;
}

.main_button_facebook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 160px;
    background-color: #305DB8 ;
    border: 1px solid transparent;
    border-radius: 4px;
}

.main_button_facebook_text {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-right: 22px;
}

.main_button_google {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 160px;
    background-color: #DF4A32 ;
    border: 1px solid transparent;
    border-radius: 4px;
}

.main_button_google_text {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-right: 27px;
}

.main_log_end {
    display: flex;
    justify-content: center;
    padding: 21px 0 10px 0 ;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
}

.main_form {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.form_name {
    height: 44px;
    width: 322px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
}

.form_surname {
    height: 44px;
    width: 322px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
}

.form_email {
    height: 44px;
    width: 322px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
}

.form_password {
    height: 44px;
    width: 322px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 15px;
}

.form_password_confirmation {
    height: 44px;
    width: 322px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 12px;
}

.form-checkbox_arrow {
    margin-bottom: 20px;
}

.form-checkbox_text {
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
}
.main_form_button {
    height: 46px;
    width: 324px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgba(60, 184, 120, 0.8);
    margin-bottom: 38px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.form-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-bottom: 15px;
}

.form-checkbox_arrow {
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    height: 15px;
    width: 15px;

}

.form-checkbox_arrow_green svg {
    display: none;
}

.form-checkbox_arrow:checked + .form-checkbox_arrow_green svg {
    display: block;
}

.form-checkbox_arrow_green {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 15px;
    width: 15px;
}

.header_title:hover {
    color: #01813F;
}

.container_icon_1:hover .container_icon_1_hover {
    fill: #01813F;
}

.container_icon_2:hover .container_icon_2_hover {
    fill: #01813F;
}

.container_icon_3:hover .container_icon_3_hover {
    fill: #01813F;
}

.container_hover_1:hover {
    color: #01813F;
}

.container_hover_2:hover {
    color: #01813F;
}

.main_log_log:hover {
    color: #01813F;
    text-decoration: underline;
}

.main_button_facebook:hover {
  background-color: #022263;
}

.main_button_google:hover {
    background-color: #AB1F09
}

.form_name:focus {
    box-shadow: 0 3px 8px rgb(0 0 0 / 21%);
}

.form_surname:focus  {
    box-shadow: 0 3px 8px rgb(0 0 0 / 21%);
}

.form_email:focus {
    box-shadow: 0 3px 8px rgb(0 0 0 / 21%);
}

.form_password:focus {
    box-shadow: 0 3px 8px rgb(0 0 0 / 21%);
}

.form_password_confirmation:focus {
    box-shadow: 0 3px 8px rgb(0 0 0 / 21%);
}

.form-checkbox:hover .form-checkbox_text {
    text-decoration: underline;
}

.main_form_button:hover {
    background-color: #01813F;
    cursor: pointer;
}

